/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');

/* Global Styles */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #e0e0e0;
  line-height: 1.6;
  background-color: #121212;
  transition: background-color 0.3s, color 0.3s;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: #1e1e1e;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

nav .logo a {
  font-family: "Pixelify Sans", serif;
  font-size: 1.5em;
  color: #e0e0e0;
  text-decoration: none;
}

nav .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

nav .nav-links li {
  margin-left: 20px;
}

nav .nav-links a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

nav .nav-links a:hover {
  color: #10dd5e;
}

/* Hamburger Menu */
nav .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

nav .menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #e0e0e0;
  margin: 5px 0;
  transition: 0.4s;
}

/* Transform the bars into a cross when active */
nav .menu-toggle.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

nav .menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

nav .menu-toggle.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Header Styles */
header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-bg {
  background-image: url('images/13c0e633-1b45-4ff6-88c9-b564bbac0aee.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.4);
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  /* On smaller screens, remove fixed attachment for better performance and scaling */
  .parallax-bg {
    background-attachment: scroll;
  }
}

.header-content {
  text-align: center;
  color: #e0e0e0;
}

.header-content h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 3.5em;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1s forwards;
}

.header-content p {
  font-size: 1.5em;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  display: grid;
  align-items: center;
}

.header-content .btn {
  padding: 12px 30px;
  background-color: #06f67a;
  color: #121212;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.2s forwards;
  white-space: nowrap;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* space between buttons */
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  text-decoration: none;
  background-color: #06f67a;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;

}


.btn:hover {
  background-color: #06f67a;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(15, 234, 7, 0.4);
}

/* Main Content Styles */
main {
  padding: 50px 20px;
}

/* Section Styles */
section {
  margin-bottom: 80px;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.3s;
}

section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  color: #06f67a;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

section h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background: #06f67a;
  margin: 20px auto 0;
}

section p {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.1em;
}

.card {
  background-position: center;
  width: 50%;
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  font-family: "Pixelify Sans", serif;
  align-self: center;
  margin-top: 7%;
}

.card:hover {
  color: rgb(255, 255, 255);
  transition: color 1s;
  cursor: pointer;
} 
 .card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "Hover on me!";
  color: white;  
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #91ee92,
    #1DB954 43%,
    #13492a
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  content: "Hover on me!";
  color: white;  
  border: none;
  position: absolute;
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #91ee92,
    #1DB954 43%,
    #13492a
  );
  opacity: 0;
  transition: opacity 0.5s;
  animation: spin 4s linear infinite;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* Projects Section */
.projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-item {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 5px;
  width: 350px;
  margin: 15px;
  padding: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

.project-item:hover {
  box-shadow: 0 0 20px rgba(3, 133, 27, 0.6);
  transform: translateY(-15px);
}

.project-item h3 {
  font-size: 1.5em;
  color: #10dd5e;
  margin-bottom: 15px;
}

.project-item p {
  font-size: 1em;
  color: #e0e0e0;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: #1e1e1e;
  margin: 5% auto;
  /* padding: 20px; */
  width: 100%;
  height:100%;
  position: relative;
  border-radius: 5px;
  color: #e0e0e0;
  animation: fadeInUp 0.5s forwards;
}

.close-button {
  color: #e0e0e0;
  position: absolute;
  top: -7px;
  right: 10px;
  font-size: 28px;
  cursor: pointer;
}

.close-button:hover {
  color: #f83918;
}

/* Skills Section */
.skills-list {
  list-style: none;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.skills-list li {
  font-size: 1.2em;
  margin-bottom: 15px;
  position: relative;
  padding-left: 25px;
}

.skills-list li::before {
  content: '\f058';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  left: 0;
  color: white;
}

/* Contact Section */
#contact p {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
  color: #e0e0e0;
}

#contact a {
  color: #10dd5e;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

.social-media {
  color:white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media a {
  color: #e0e0e0;
  font-size: 1.5em;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #10dd5e;
}

/* Footer Styles */
footer {
  background-color: #1e1e1e;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 1em;
  color: #777;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav .nav-links {
    flex-direction: column;
    align-items: flex-start;
    background-color: #1e1e1e;
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    transition: left 0.3s;
    padding: 20px;
  }

  nav .nav-links.mobile-active {
    left: 0;
  }

  nav .menu-toggle {
    display: flex;
  }

  nav .nav-links li {
    margin: 15px 0;
  }

  header {
    height: 70vh;
  }

  .header-content h1 {
    font-size: 2.5em;
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-item {
    width: 90%;
  }

  .modal-content {
    width: 90%;
    margin: 20% auto;
  }
}

/* Animations */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: 0.5s;
}


.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}